%active-link {
  font-weight: 600;
  //border-bottom: 2px solid $color1;
  text-decoration: underline;
}

.header__logo {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: $color7;

  @include breakpoint(tablet) {
    text-align: left;
    bottom: 0;
  }
}

.header__nav-item {
  display: inline-block;
  margin-left: 35px;
  letter-spacing: 0.2px;
  border-bottom: 2px solid transparent;
  color: $color6;
  position: relative;

  a {
    @extend %active-link;
    cursor: pointer;
    padding-bottom: -15px;
    color: transparent;
    font-weight: bold;

    &:before {
      content: attr(data-value);
      font-weight: 400;
      color: $color1;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.active {
      &:before {
        @extend %active-link;
        color: $color1;
      }
    }

    &:hover {
      &:before {
        @extend %active-link;
        left: -1px;
        font-weight: 600;
        color: $color1;
      }
    }

  }
}

.header {
  .layout {
    padding-top: 25px;
    padding-bottom: 20px;

    @include breakpoint(tablet) {
      padding-bottom: 0;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.header {
  @include breakpoint(tablet) {
    z-index: 2;
    grid-row: 1;
  }

  &.sticky {
    background: linear-gradient(to right, #f6f3eb, #c6d9dd);
    color: $color1;

    @include breakpoint(tablet) {
      position: sticky;
      top: 0;
    }
  }
}
