.section__testimonials {
  background: url(../assets/pic/bg-testimonial.png) center top no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 79px;
  padding-bottom: 20px;

  @include breakpoint(tablet) {
    padding-bottom: 0;
    height: 529px;
    background-size: auto;
  }

  .layout {
    @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

.section__testimonials-photo-box {
  //max-height: 265px;
  width: 280px;
  background-color: $color15;
  text-align: left;
  padding: 53px 36px 15px 43px;
  letter-spacing: 0.3px;
  display: inline-block;
  vertical-align: middle;
  height: 100%;

  q {
    font-weight: 600;
  }
}

.section__testimonials-text {
  color: $color2;
  letter-spacing: 0.4px;
  margin-bottom: 3px;
  font-size: 16px;
}

.section__testimonials-user-photo {
  position: relative;
  //height: 265px;
  width: 280px;
  display: inline-block;
  vertical-align: middle;

  img {
    width: 100%;
    height: 100%;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-wrap {
  padding-top: 52px;
}

.flip {
  display: none;

  @include breakpoint(tablet) {
    display: block;
  }

  &.left {
    margin-right: 30px;
  }

  &.right {
    margin-left: 30px;
  }
}

.section__testimonials {
  .flip {
    display: inline-block;
    vertical-align: middle;
  }
}

.section__testimonials-photo-list {
  height: 265px;
  font-size: 0;
  white-space: nowrap;
}

.section__testimonials-photo-item {
  display: inline-block;
  height: 100%;
  position: relative;
  white-space: normal;
}

//.slider-active_right .section__testimonials-photo-list {
//  transform: translateX(-100%);
//  transition: transform 0.8s ease-in-out;
//}
//
//
//.slider-active_left .section__testimonials-photo-list {
//  transform: translateX(100%);
//  transition: transform 0.8s ease-in-out;
//}

.section__testimonials-photo-list_wrap {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  max-width: 560px;

}

.active {
  transform: translateX(-100%);
  transition: transform 0.8s ease-in-out;
}

#slider-list {
  transition: transform 0.8s ease-in-out;
}