
[class^="icon-"], [class*=" icon-"], .icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-2:before {
  content: "\e900";
}
.icon-star-3:before {
  content: "\e901";
}
.icon-star-1:before {
  content: "\e902";
}
.icon-a-icon-hidepass:before {
  content: "\e903";
}
.icon-a-icon-showpass:before {
  content: "\e904";
}
.icon-a-icon-arrow:before {
  content: "\e905";
}
.icon-a-icon-time:before {
  content: "\e906";
}
.icon-a-icon-comment:before {
  content: "\e907";
}
.icon-a-icon-search-1:before {
  content: "\e908";
}
.icon-a-icon-attach:before {
  content: "\e909";
}
.icon-a-icon-instagram:before {
  content: "\e90a";
}
.icon-a-icon-dribbble:before {
  content: "\e90b";
}
.icon-a-icon-facebook:before {
  content: "\e90c";
}
.icon-a-icon-like-1:before {
  content: "\e90d";
}
.icon-a-icon-text:before {
  content: "\e90e";
}
.icon-a-icon-melody:before {
  content: "\e90f";
}
.icon-a-icon-picture:before {
  content: "\e910";
}
.icon-a-icon-playmini:before {
  content: "\e911";
}
.icon-a-icon-mail:before {
  content: "\e912";
}
.icon-a-icon-iconset:before {
  content: "\e913";
}
.icon-a-icon-typography:before {
  content: "\e914";
}
.icon-a-icon-accurate:before {
  content: "\e915";
}
