.input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  padding: 10px;
  background: transparent;
  outline: none;
  border: 1px solid #DCDCDC;

  &.error {
    border: 1ps solid $error;
  }
}

.input__wrap {
  max-width: 320px;
}